# Seleção dos atributos

## Instalação das bibliotecas

In [185]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

## Importação das bibliotecas

In [186]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import numpy as np
from sklearn.metrics import classification_report, accuracy_score

## Importação da base de dados

In [187]:
base = pd.read_csv("/content/drive/MyDrive/PCD1/assets/data/bases_originais/State_of_data_BR_2023_Kaggle - df_survey_2023.csv")

base.head()

,"('P0', 'id')","('P1_a ', 'Idade')","('P1_a_1 ', 'Faixa idade')","('P1_b ', 'Genero')","('P1_c ', 'Cor/raca/etnia')","('P1_d ', 'PCD')","('P1_e ', 'experiencia_profissional_prejudicada')","('P1_e_1 ', 'Não acredito que minha experiência profissional seja afetada')","('P1_e_2 ', 'Experiencia prejudicada devido a minha Cor Raça Etnia')","('P1_e_3 ', 'Experiencia prejudicada devido a minha identidade de gênero')",...,"('P8_d_3 ', 'Entrando em contato com os times de negócio para definição do problema, identificar a solução e apresentação de resultados.')","('P8_d_4 ', 'Desenvolvendo modelos de Machine Learning com o objetivo de colocar em produção em sistemas (produtos de dados).')","('P8_d_5 ', 'Colocando modelos em produção, criando os pipelines de dados, APIs de consumo e monitoramento.')","('P8_d_6 ', 'Cuidando da manutenção de modelos de Machine Learning já em produção, atuando no monitoramento, ajustes e refatoração quando necessário.')","('P8_d_7 ', 'Realizando construções de dashboards em ferramentas de BI como PowerBI, Tableau, Looker, Qlik, etc.')","('P8_d_8 ', 'Utilizando ferramentas avançadas de estatística como SAS, SPSS, Stata etc, para realizar análises.')","('P8_d_9 ', 'Criando e dando manutenção em ETLs, DAGs e automações de pipelines de dados.')","('P8_d_10 ', 'Criando e gerenciando soluções de Feature Store e cultura de MLOps.')","('P8_d_11 ', 'Criando e mantendo a infra que meus modelos e soluções rodam (clusters, servidores, API, containers, etc.)')","('P8_d_12 ', 'Treinando e aplicando LLM's para solucionar problemas de negócio.')"
0,001b2d1qtli8t9z7oqgdhj001b2d4i0g,31,30-34,Masculino,Branca,Não,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0026aa3fwd78u0026asg7456tfkjg2cs,30,30-34,Masculino,Branca,Não,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,00r21rb9pusd1b0v7ew00r21rw3dy69w,37,35-39,Feminino,Amarela,Não,"Sim, acredito que a minha a experiência profis...",0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00urm3jf2cek12w6ygue00urm3jzd17j,22,22-24,Masculino,Preta,Não,Não acredito que minha experiência profissiona...,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00v0az4g792svil00vn6y1kfm9hq8vy9,34,30-34,Masculino,Branca,Não,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Renomeação das colunas

In [188]:
novo_nome_colunas = {
    "('P1_a ', 'Idade')": 'Idade',
    "('P1_b ', 'Genero')": 'Genero',
    "('P1_c ', 'Cor/raca/etnia')": 'Cor/raca/etnia',
    "('P1_d ', 'PCD')": 'PCD',
    "('P1_f_4', 'Oportunidades de progressão de carreira')": 'Oportunidade de Progressão de Carreira',
    "('P1_i_1 ', 'uf onde mora')": 'UF',
    "('P1_i_2 ', 'Regiao onde mora')": 'Regiao onde mora',
    "('P1_l ', 'Nivel de Ensino')": 'Nivel de Ensino',
    "('P1_m ', 'Área de Formação')": 'Area de Formação',
    "('P2_a ', 'Qual sua situação atual de trabalho?')": 'Situação atual de Trabalho',
    "('P2_b ', 'Setor')": 'Setor',
    "('P2_f ', 'Cargo Atual')": 'Cargo',
    "('P2_g ', 'Nivel')": 'Nivel',
    "('P2_r ', 'Atualmente qual a sua forma de trabalho?')": 'Forma de Trabalho',
    "('P4_a_1 ', 'Atuacao')": 'Atuação'
}

base.columns = [novo_nome_colunas.get(col, col) for col in base.columns]

## Seleção de atributos

In [189]:
colunas = [
    'Idade',
    'Genero',
    "Cor/raca/etnia",
    "PCD",
    "Oportunidade de Progressão de Carreira",
    "Regiao onde mora",
    "Nivel de Ensino",
    "Area de Formação",
    "Situação atual de Trabalho",
    "Setor",
    "Cargo",
    "Nivel",
    "Forma de Trabalho",
    "Atuação"
]

base = base[colunas]
base.columns.tolist()

['Idade',
 'Genero',
 'Cor/raca/etnia',
 'PCD',
 'Oportunidade de Progressão de Carreira',
 'Regiao onde mora',
 'Nivel de Ensino',
 'Area de Formação',
 'Situação atual de Trabalho',
 'Setor',
 'Cargo',
 'Nivel',
 'Forma de Trabalho',
 'Atuação']

In [190]:
base

,Idade,Genero,Cor/raca/etnia,PCD,Oportunidade de Progressão de Carreira,Regiao onde mora,Nivel de Ensino,Area de Formação,Situação atual de Trabalho,Setor,Cargo,Nivel,Forma de Trabalho,Atuação
0,31,Masculino,Branca,Não,NaN,Sudeste,Doutorado ou Phd,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Cientista de Dados/Data Scientist,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados
1,30,Masculino,Branca,Não,NaN,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,Analista de BI/BI Analyst,Pleno,Modelo 100% remoto,Análise de Dados
2,37,Feminino,Amarela,Não,0.0,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Analista de Dados/Data Analyst,Júnior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados
3,22,Masculino,Preta,Não,NaN,Sudeste,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,"Desempregado, buscando recolocação",NaN,NaN,NaN,NaN,Buscando oportunidade na área de dados
4,34,Masculino,Branca,Não,NaN,Sudeste,Doutorado ou Phd,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Outra Opção,Analista de Dados/Data Analyst,Júnior,Modelo 100% remoto,Análise de Dados
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5288,34,Masculino,Preta,Não,NaN,Sudeste,Pós-graduação,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Tecnologia/Fábrica de Software,NaN,NaN,Modelo 100% remoto,Gestor
5289,32,Masculino,Branca,Não,NaN,Nordeste,Graduação/Bacharelado,Outras Engenharias,Empregado (CLT),Outra Opção,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,Modelo 100% remoto,Ciência de Dados
5290,25,Masculino,Branca,Não,NaN,Sudeste,Graduação/Bacharelado,Marketing / Publicidade / Comunicação / Jornal...,Empregado (CLT),Finanças ou Bancos,Analista de Negócios/Business Analyst,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Análise de Dados
5291,31,Masculino,Parda,Não,NaN,Sudeste,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,"Desempregado, buscando recolocação",NaN,NaN,NaN,NaN,Buscando oportunidade na área de dados
5292,31,Masculino,Amarela,Não,NaN,Sudeste,Pós-graduação,Computação / Engenharia de Software / Sistemas...,"Desempregado, buscando recolocação",NaN,NaN,NaN,NaN,Outra atuação

# Tratamentos dos valores faltantes

## Indução de moda

### Verificar a moda de cada atributo

In [191]:
for col in base.columns:
    mode_value = base[col].mode()
    print(f'A moda da coluna {col} é: {mode_value.iloc[0]}')

A moda da coluna Idade é: 27
A moda da coluna Genero é: Masculino
A moda da coluna Cor/raca/etnia é: Branca
A moda da coluna PCD é: Não
A moda da coluna Oportunidade de Progressão de Carreira é: 0.0
A moda da coluna Regiao onde mora é: Sudeste
A moda da coluna Nivel de Ensino é: Pós-graduação
A moda da coluna Area de Formação é: Computação / Engenharia de Software / Sistemas de Informação/ TI
A moda da coluna Situação atual de Trabalho é: Empregado (CLT)
A moda da coluna Setor é: Finanças ou Bancos
A moda da coluna Cargo é: Analista de Dados/Data Analyst
A moda da coluna Nivel é: Sênior
A moda da coluna Forma de Trabalho é: Modelo 100% remoto
A moda da coluna Atuação é: Análise de Dados

### Inputação de valor da moda na coluna "Área de Formação

In [192]:
base['Area de Formação'].fillna(value='Computação / Engenharia de Software / Sistemas de Informação/ TI', inplace=True)

<ipython-input-192-2562e2fceeb6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  base['Area de Formação'].fillna(value='Computação / Engenharia de Software / Sistemas de Informação/ TI', inplace=True)

## Ajuste das colunas

Renomeação do atributo alvo

In [193]:
base.rename(columns={'Oportunidade de Progressão de Carreira': 'progressao_prejudicada'}, inplace = True)

Reordenação dos atributos

In [194]:
base = base[['Idade', 'Genero', 'Cor/raca/etnia', 'PCD', 'Regiao onde mora',
       'Nivel de Ensino', 'Area de Formação', 'Situação atual de Trabalho',
       'Setor', 'Cargo', 'Nivel', 'Forma de Trabalho', 'Atuação', 'progressao_prejudicada']]

Retirada de classes

In [195]:
base = base[(base['Genero'] != 'Outro') & (base['Genero'] != 'Prefiro não informar')]
index_to_drop = base[base['PCD'] == 'Prefiro não informar'].index
base = base.drop(index_to_drop)

## Verificar a quantidade de valores nulos em cada atributo

In [196]:
for col in base.columns:
    nulos = base[col].isnull().sum()
    print(f'numero de valores nulos na coluna {col} é: {nulos}')

numero de valores nulos na coluna Idade é: 0
numero de valores nulos na coluna Genero é: 0
numero de valores nulos na coluna Cor/raca/etnia é: 0
numero de valores nulos na coluna PCD é: 0
numero de valores nulos na coluna Regiao onde mora é: 121
numero de valores nulos na coluna Nivel de Ensino é: 0
numero de valores nulos na coluna Area de Formação é: 0
numero de valores nulos na coluna Situação atual de Trabalho é: 0
numero de valores nulos na coluna Setor é: 532
numero de valores nulos na coluna Cargo é: 1423
numero de valores nulos na coluna Nivel é: 1423
numero de valores nulos na coluna Forma de Trabalho é: 532
numero de valores nulos na coluna Atuação é: 0
numero de valores nulos na coluna progressao_prejudicada é: 4022

### Retirada das linhas

In [197]:
base.dropna(subset=['Regiao onde mora', 'Setor', 'Forma de Trabalho', 'Cargo', 'Nivel'], inplace=True)

In [198]:
base

,Idade,Genero,Cor/raca/etnia,PCD,Regiao onde mora,Nivel de Ensino,Area de Formação,Situação atual de Trabalho,Setor,Cargo,Nivel,Forma de Trabalho,Atuação,progressao_prejudicada
0,31,Masculino,Branca,Não,Sudeste,Doutorado ou Phd,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Cientista de Dados/Data Scientist,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,NaN
1,30,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,Analista de BI/BI Analyst,Pleno,Modelo 100% remoto,Análise de Dados,NaN
2,37,Feminino,Amarela,Não,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Analista de Dados/Data Analyst,Júnior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,0.0
4,34,Masculino,Branca,Não,Sudeste,Doutorado ou Phd,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Outra Opção,Analista de Dados/Data Analyst,Júnior,Modelo 100% remoto,Análise de Dados,NaN
5,30,Masculino,Branca,Não,Sudeste,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Tecnologia/Fábrica de Software,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,Modelo 100% remoto,Engenharia de Dados,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5285,27,Feminino,Parda,Não,Sudeste,Graduação/Bacharelado,Outras Engenharias,Empregado (CLT),Varejo,Data Product Manager/ Product Manager (PM/APM/...,Pleno,Modelo 100% remoto,Outra atuação,NaN
5286,37,Masculino,Branca,Não,Sudeste,Pós-graduação,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Varejo,Analytics Engineer,Sênior,Modelo 100% remoto,Engenharia de Dados,NaN
5287,28,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Química / Física,Empregado (CLT),Finanças ou Bancos,Cientista de Dados/Data Scientist,Júnior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,NaN
5289,32,Masculino,Branca,Não,Nordeste,Graduação/Bacharelado,Outras Engenharias,Empregado (CLT),Outra Opção,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,Modelo 100% remoto,Ciência de Dados,NaN
5290,25,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Marketing / Publicidade / Comunicação / Jornal...,Empregado (CLT),Finanças ou Bancos,Analista de Negócios/Business Analyst,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Análise de Dados,NaN

In [199]:
base['progressao_prejudicada'] = base['progressao_prejudicada'].fillna(0)

In [200]:
base

,Idade,Genero,Cor/raca/etnia,PCD,Regiao onde mora,Nivel de Ensino,Area de Formação,Situação atual de Trabalho,Setor,Cargo,Nivel,Forma de Trabalho,Atuação,progressao_prejudicada
0,31,Masculino,Branca,Não,Sudeste,Doutorado ou Phd,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Cientista de Dados/Data Scientist,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,0.0
1,30,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Finanças ou Bancos,Analista de BI/BI Analyst,Pleno,Modelo 100% remoto,Análise de Dados,0.0
2,37,Feminino,Amarela,Não,Sudeste,Graduação/Bacharelado,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Finanças ou Bancos,Analista de Dados/Data Analyst,Júnior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,0.0
4,34,Masculino,Branca,Não,Sudeste,Doutorado ou Phd,Economia/ Administração / Contabilidade / Fina...,Empreendedor ou Empregado (CNPJ),Outra Opção,Analista de Dados/Data Analyst,Júnior,Modelo 100% remoto,Análise de Dados,0.0
5,30,Masculino,Branca,Não,Sudeste,Estudante de Graduação,Computação / Engenharia de Software / Sistemas...,Empreendedor ou Empregado (CNPJ),Tecnologia/Fábrica de Software,Engenheiro de Dados/Arquiteto de Dados/Data En...,Pleno,Modelo 100% remoto,Engenharia de Dados,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5285,27,Feminino,Parda,Não,Sudeste,Graduação/Bacharelado,Outras Engenharias,Empregado (CLT),Varejo,Data Product Manager/ Product Manager (PM/APM/...,Pleno,Modelo 100% remoto,Outra atuação,0.0
5286,37,Masculino,Branca,Não,Sudeste,Pós-graduação,Computação / Engenharia de Software / Sistemas...,Empregado (CLT),Varejo,Analytics Engineer,Sênior,Modelo 100% remoto,Engenharia de Dados,0.0
5287,28,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Química / Física,Empregado (CLT),Finanças ou Bancos,Cientista de Dados/Data Scientist,Júnior,Modelo híbrido flexível (o funcionário tem lib...,Ciência de Dados,0.0
5289,32,Masculino,Branca,Não,Nordeste,Graduação/Bacharelado,Outras Engenharias,Empregado (CLT),Outra Opção,Engenheiro de Machine Learning/ML Engineer/AI ...,Pleno,Modelo 100% remoto,Ciência de Dados,0.0
5290,25,Masculino,Branca,Não,Sudeste,Graduação/Bacharelado,Marketing / Publicidade / Comunicação / Jornal...,Empregado (CLT),Finanças ou Bancos,Analista de Negócios/Business Analyst,Sênior,Modelo híbrido flexível (o funcionário tem lib...,Análise de Dados,0.0

# Conversão de dados

Vê o tipo de dado de cada coluna

In [201]:
base.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3747 entries, 0 to 5290
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Idade                       3747 non-null   int64
 1   Genero                      3747 non-null   object
 2   Cor/raca/etnia              3747 non-null   object
 3   PCD                         3747 non-null   object
 4   Regiao onde mora            3747 non-null   object
 5   Nivel de Ensino             3747 non-null   object
 6   Area de Formação            3747 non-null   object
 7   Situação atual de Trabalho  3747 non-null   object
 8   Setor                       3747 non-null   object
 9   Cargo                       3747 non-null   object
 10  Nivel                       3747 non-null   object
 11  Forma de Trabalho           3747 non-null   object
 12  Atuação                     3747 non-null   object
 13  progressao_prejudicada      3747 non-null   float64
dtypes: float64(1), int64(1), object(12)
memory usage: 439.1+ KB

## Codificação dos atributos

### Codificação manual

In [202]:
# Codificação Manual para manter a ordem
base.loc[base['Nivel de Ensino'] == 'Não tenho graduação formal', 'Nivel de Ensino'] = 0
base.loc[base['Nivel de Ensino'] == 'Estudante de Graduação', 'Nivel de Ensino'] = 1
base.loc[base['Nivel de Ensino'] == 'Graduação/Bacharelado', 'Nivel de Ensino'] = 2
base.loc[base['Nivel de Ensino'] == 'Pós-graduação', 'Nivel de Ensino'] = 3
base.loc[base['Nivel de Ensino'] == 'Mestrado', 'Nivel de Ensino'] = 4
base.loc[base['Nivel de Ensino'] == 'Doutorado ou Phd', 'Nivel de Ensino'] = 5
base.loc[base['Nivel de Ensino'] == 'Prefiro não informar', 'Nivel de Ensino'] = 6

print(base['Nivel de Ensino'].unique())



base.loc[base['Nivel'] == 'Júnior', 'Nivel'] = 0
base.loc[base['Nivel'] == 'Pleno', 'Nivel'] = 1
base.loc[base['Nivel'] == 'Sênior', 'Nivel'] = 2

print(base['Nivel'].unique())

[5 2 1 3 4 0 6]
[2 1 0]

Label Encoder

In [203]:
# Colunas especificadas para Label Encoding
colunas_para_label_encode = ['Nivel de Ensino', 'Nivel']

# 2. Verificar se as colunas existem no DataFrame
colunas_faltantes = [col for col in colunas_para_label_encode if col not in base.columns]
if colunas_faltantes:
    print(f"Erro: As seguintes colunas não foram encontradas no DataFrame: {colunas_faltantes}")
    raise SystemExit()

print(f"Colunas a serem codificadas com Label Encoder: {colunas_para_label_encode}")
print("Primeiras 5 linhas das colunas originais:")
print(base[colunas_para_label_encode].head())
print("-" * 50)

# Criar uma cópia do DataFrame para adicionar as colunas codificadas
base_encoded = base.copy()

# Dicionário para armazenar os mapeamentos de cada encoder
mapeamentos = {}

# 3. Aplicar Label Encoding para cada coluna especificada
for coluna in colunas_para_label_encode:
    print(f"Processando coluna: '{coluna}'")

    # 3b. Inicializar o LabelEncoder
    le = LabelEncoder()

    # 3c. Ajustar (fit) e transformar (transform) a coluna
    # Criar uma nova coluna com o sufixo '_encoded'
    nome_coluna_encoded = f"{coluna}_encoded"
    base_encoded[nome_coluna_encoded] = le.fit_transform(base_encoded[coluna])

    # 3d. (Opcional) Guardar e mostrar os mapeamentos aprendidos
    mapeamentos[coluna] = dict(zip(le.classes_, le.transform(le.classes_)))
    print(f"  Mapeamento para '{coluna}':")
    for categoria, codigo in mapeamentos[coluna].items():
        print(f"    '{categoria}' -> {codigo}")
    print("-" * 30)

print("\nDataFrame com as Novas Colunas Codificadas (Label Encoded):")
# Mostrar as colunas originais e as codificadas lado a lado para as primeiras linhas
colunas_para_mostrar = []
for col in colunas_para_label_encode:
    colunas_para_mostrar.append(col)
    colunas_para_mostrar.append(f"{col}_encoded")

print(base_encoded[colunas_para_mostrar].head(10))
print("-" * 50)

print("Valores únicos nas colunas codificadas:")
for coluna in colunas_para_label_encode:
    nome_coluna_encoded = f"{coluna}_encoded"
    print(f"Coluna '{nome_coluna_encoded}': {base_encoded[nome_coluna_encoded].unique()}")
print("-" * 50)

print("Resumo do DataFrame após Label Encoding:")
print(base_encoded.info()) # info() para ver os tipos de dados e contagens não nulas

Colunas a serem codificadas com Label Encoder: ['Nivel de Ensino', 'Nivel']
Primeiras 5 linhas das colunas originais:
  Nivel de Ensino Nivel
0               5     2
1               2     1
2               2     0
4               5     0
5               1     1
--------------------------------------------------
Processando coluna: 'Nivel de Ensino'
  Mapeamento para 'Nivel de Ensino':
    '0' -> 0
    '1' -> 1
    '2' -> 2
    '3' -> 3
    '4' -> 4
    '5' -> 5
    '6' -> 6
------------------------------
Processando coluna: 'Nivel'
  Mapeamento para 'Nivel':
    '0' -> 0
    '1' -> 1
    '2' -> 2
------------------------------

DataFrame com as Novas Colunas Codificadas (Label Encoded):
   Nivel de Ensino  Nivel de Ensino_encoded Nivel  Nivel_encoded
0                5                        5     2              2
1                2                        2     1              1
2                2                        2     0              0
4                5                        5     0              0
5                1                        1     1              1
6                2                        2     1              1
10               1                        1     0              0
12               3                        3     1              1
16               2                        2     1              1
17               4                        4     0              0
--------------------------------------------------
Valores únicos nas colunas codificadas:
Coluna 'Nivel de Ensino_encoded': [5 2 1 3 4 0 6]
Coluna 'Nivel_encoded': [2 1 0]
--------------------------------------------------
Resumo do DataFrame após Label Encoding:
<class 'pandas.core.frame.DataFrame'>
Index: 3747 entries, 0 to 5290
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Idade                       3747 non-null   int64
 1   Genero                      3747 non-null   object
 2   Cor/raca/etnia              3747 non-null   object
 3   PCD                         3747 non-null   object
 4   Regiao onde mora            3747 non-null   object
 5   Nivel de Ensino             3747 non-null   object
 6   Area de Formação            3747 non-null   object
 7   Situação atual de Trabalho  3747 non-null   object
 8   Setor                       3747 non-null   object
 9   Cargo                       3747 non-null   object
 10  Nivel                       3747 non-null   object
 11  Forma de Trabalho           3747 non-null   object
 12  Atuação                     3747 non-null   object
 13  progressao_prejudicada      3747 non-null   float64
 14  Nivel de Ensino_encoded     3747 non-null   int64
 15  Nivel_encoded               3747 non-null   int64
dtypes: float64(1), int64(3), object(12)
memory usage: 497.6+ KB
None

### One Hot Enconding

In [204]:


# 2. Identificar colunas categóricas
# Vamos considerar colunas do tipo 'object' e 'category' como categóricas.
colunas_categoricas_originais = base_encoded.select_dtypes(include=['object', 'category']).columns.tolist()

if not colunas_categoricas_originais:
    print("Nenhuma coluna categórica encontrada para One-Hot Encoding.")
    # Se não houver colunas categóricas, não há mais nada a fazer aqui.
    raise SystemExit()

print(f"Colunas Categóricas Identificadas ({len(colunas_categoricas_originais)}):")
# Imprimir apenas algumas para não poluir a saída se forem muitas
print(colunas_categoricas_originais[:10]) # Mostra as 10 primeiras
if len(colunas_categoricas_originais) > 10:
    print(f"... e mais {len(colunas_categoricas_originais) - 10} colunas.")
print("-" * 50)

# Criar uma cópia para não alterar o DataFrame original diretamente durante o processo
df_processado = base_encoded.copy()

# Selecionar apenas as colunas categóricas (agora preenchidas) para o encoding
df_categorico_para_encoder = df_processado[colunas_categoricas_originais]



# 4. Inicializar o OneHotEncoder
# handle_unknown='ignore' para que, se em um cenário de teste surgirem novas categorias, elas sejam ignoradas (todas as colunas OHE ficarão com 0).
# sparse_output=False para retornar um array numpy denso, mais fácil de converter para DataFrame.
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

# 5. Ajustar (fit) e transformar (transform) as colunas categóricas
print("Aplicando One-Hot Encoding...")
try:
    one_hot_encoded_array = encoder.fit_transform(df_categorico_para_encoder)
    print("One-Hot Encoding concluído.")
    #except pra caso dê erro no encoding
except Exception as e:
    print(f"Erro durante o fit_transform do OneHotEncoder: {e}")
    # Tentar identificar colunas problemáticas (ex: alta cardinalidade que estoura a memória)
    # Esta é uma heurística, pode não pegar todos os casos.
    problematic_cols = []
    for col in colunas_categoricas_originais:
        if df_categorico_para_encoder[col].nunique() > 1000: # Limiar arbitrário de alta cardinalidade
            problematic_cols.append(col)
    if problematic_cols:
        print(f"Possíveis colunas com alta cardinalidade que podem causar problemas: {problematic_cols}")
        print("Considere remover ou usar outra técnica de encoding para estas colunas.")
    raise SystemExit()


# 6. Criar um DataFrame com as novas colunas codificadas
# Obter os nomes das novas colunas geradas pelo encoder
nomes_colunas_one_hot = encoder.get_feature_names_out(colunas_categoricas_originais)


one_hot_df = pd.DataFrame(one_hot_encoded_array, columns=nomes_colunas_one_hot, index=df_processado.index)

print(f"\nFormato do DataFrame com colunas One-Hot Encoded: {one_hot_df.shape}")
print("Primeiras 5 linhas do DataFrame com colunas One-Hot Encoded:")
print(one_hot_df.head())
print("-" * 50)

# 7. Juntar o DataFrame com colunas one-hot encoded com as colunas não categóricas do DataFrame original
# Primeiro, remover as colunas categóricas originais do df_processado
df_sem_categoricas_originais = df_processado.drop(columns=colunas_categoricas_originais)

# Concatenar com as novas colunas one-hot
df_final_transformado = pd.concat([df_sem_categoricas_originais, one_hot_df], axis=1)

print("DataFrame Final Transformado (colunas não categóricas + colunas one-hot):")
print(f"Formato do DataFrame Final: {df_final_transformado.shape}")
print("Primeiras 5 linhas do DataFrame Final:")
print(df_final_transformado.head())
print("-" * 50)

# Salvar o DataFrame transformado em um novo arquivo CSV (opcional, mas útil)
nome_arquivo_saida = "State_of_data_BR_2023_Kaggle_OneHotEncoded.csv"
try:
    df_final_transformado.to_csv(nome_arquivo_saida, index=False)
    print(f"DataFrame transformado salvo com sucesso como '{nome_arquivo_saida}'")
except Exception as e:
    print(f"Erro ao salvar o DataFrame transformado: {e}")

print("-" * 50)
print("Lembrete Importante sobre Divisão Treino/Teste:")
print("Para construção de modelos de Machine Learning, o OneHotEncoder deve ser ajustado (fit)")
print("APENAS no conjunto de dados de TREINAMENTO. Depois, use o encoder ajustado para")
print("transformar tanto o conjunto de TREINAMENTO quanto o de TESTE. Isso evita data leakage.")
print("Este processamento foi aplicado ao dataset inteiro, o que é adequado para exploração")
print("ou se este for o passo final de pré-processamento antes de outra etapa que não envolva")
print("um aprendizado supervisionado com divisão treino/teste tradicional.")

Colunas Categóricas Identificadas (12):
['Genero', 'Cor/raca/etnia', 'PCD', 'Regiao onde mora', 'Nivel de Ensino', 'Area de Formação', 'Situação atual de Trabalho', 'Setor', 'Cargo', 'Nivel']
... e mais 2 colunas.
--------------------------------------------------
Aplicando One-Hot Encoding...
One-Hot Encoding concluído.

Formato do DataFrame com colunas One-Hot Encoded: (3747, 89)
Primeiras 5 linhas do DataFrame com colunas One-Hot Encoded:
   Genero_Feminino  Genero_Masculino  Cor/raca/etnia_Amarela  \
0              0.0               1.0                     0.0
1              0.0               1.0                     0.0
2              1.0               0.0                     1.0
4              0.0               1.0                     0.0
5              0.0               1.0                     0.0

   Cor/raca/etnia_Branca  Cor/raca/etnia_Indígena  Cor/raca/etnia_Outra  \
0                    1.0                      0.0                   0.0
1                    1.0                      0.0                   0.0
2                    0.0                      0.0                   0.0
4                    1.0                      0.0                   0.0
5                    1.0                      0.0                   0.0

   Cor/raca/etnia_Parda  Cor/raca/etnia_Prefiro não informar  \
0                   0.0                                  0.0
1                   0.0                                  0.0
2                   0.0                                  0.0
4                   0.0                                  0.0
5                   0.0                                  0.0

   Cor/raca/etnia_Preta  PCD_Não  ...  Nivel_1  Nivel_2  \
0                   0.0      1.0  ...      0.0      1.0
1                   0.0      1.0  ...      1.0      0.0
2                   0.0      1.0  ...      0.0      0.0
4                   0.0      1.0  ...      0.0      0.0
5                   0.0      1.0  ...      1.0      0.0

   Forma de Trabalho_Modelo 100% presencial  \
0                                       0.0
1                                       0.0
2                                       0.0
4                                       0.0
5                                       0.0

   Forma de Trabalho_Modelo 100% remoto  \
0                                   0.0
1                                   1.0
2                                   0.0
4                                   1.0
5                                   1.0

   Forma de Trabalho_Modelo híbrido com dias fixos de trabalho presencial  \
0                                                0.0
1                                                0.0
2                                                0.0
4                                                0.0
5                                                0.0

   Forma de Trabalho_Modelo híbrido flexível (o funcionário tem liberdade para escolher quando estar no escritório presencialmente)  \
0                                                1.0
1                                                0.0
2                                                1.0
4                                                0.0
5                                                0.0

   Atuação_Análise de Dados  Atuação_Ciência de Dados  \
0                       0.0                       1.0
1                       1.0                       0.0
2                       0.0                       1.0
4                       1.0                       0.0
5                       0.0                       0.0

   Atuação_Engenharia de Dados  Atuação_Outra atuação
0                          0.0                    0.0
1                          0.0                    0.0
2                          0.0                    0.0
4                          0.0                    0.0
5                          1.0                    0.0

[5 rows x 89 columns]
--------------------------------------------------
DataFrame Final Transformado (colunas não categóricas + colunas one-hot):
Formato do DataFrame Final: (3747, 93)
Primeiras 5 linhas do DataFrame Final:
   Idade  progressao_prejudicada  Nivel de Ensino_encoded  Nivel_encoded  \
0     31                     0.0                        5              2
1     30                     0.0                        2              1
2     37                     0.0                        2              0
4     34                     0.0                        5              0
5     30                     0.0                        1              1

   Genero_Feminino  Genero_Masculino  Cor/raca/etnia_Amarela  \
0              0.0               1.0                     0.0
1              0.0               1.0                     0.0
2              1.0               0.0                     1.0
4              0.0               1.0                     0.0
5              0.0               1.0                     0.0

   Cor/raca/etnia_Branca  Cor/raca/etnia_Indígena  Cor/raca/etnia_Outra  ...  \
0                    1.0                      0.0                   0.0  ...
1                    1.0                      0.0                   0.0  ...
2                    0.0                      0.0                   0.0  ...
4                    1.0                      0.0                   0.0  ...
5                    1.0                      0.0                   0.0  ...

   Nivel_1  Nivel_2  Forma de Trabalho_Modelo 100% presencial  \
0      0.0      1.0                                       0.0
1      1.0      0.0                                       0.0
2      0.0      0.0                                       0.0
4      0.0      0.0                                       0.0
5      1.0      0.0                                       0.0

   Forma de Trabalho_Modelo 100% remoto  \
0                                   0.0
1                                   1.0
2                                   0.0
4                                   1.0
5                                   1.0

   Forma de Trabalho_Modelo híbrido com dias fixos de trabalho presencial  \
0                                                0.0
1                                                0.0
2                                                0.0
4                                                0.0
5                                                0.0

   Forma de Trabalho_Modelo híbrido flexível (o funcionário tem liberdade para escolher quando estar no escritório presencialmente)  \
0                                                1.0
1                                                0.0
2                                                1.0
4                                                0.0
5                                                0.0

   Atuação_Análise de Dados  Atuação_Ciência de Dados  \
0                       0.0                       1.0
1                       1.0                       0.0
2                       0.0                       1.0
4                       1.0                       0.0
5                       0.0                       0.0

   Atuação_Engenharia de Dados  Atuação_Outra atuação
0                          0.0                    0.0
1                          0.0                    0.0
2                          0.0                    0.0
4                          0.0                    0.0
5                          1.0                    0.0

[5 rows x 93 columns]
--------------------------------------------------
DataFrame transformado salvo com sucesso como 'State_of_data_BR_2023_Kaggle_OneHotEncoded.csv'
--------------------------------------------------
Lembrete Importante sobre Divisão Treino/Teste:
Para construção de modelos de Machine Learning, o OneHotEncoder deve ser ajustado (fit)
APENAS no conjunto de dados de TREINAMENTO. Depois, use o encoder ajustado para
transformar tanto o conjunto de TREINAMENTO quanto o de TESTE. Isso evita data leakage.
Este processamento foi aplicado ao dataset inteiro, o que é adequado para exploração
ou se este for o passo final de pré-processamento antes de outra etapa que não envolva
um aprendizado supervisionado com divisão treino/teste tradicional.

In [205]:
df_final_transformado

,Idade,progressao_prejudicada,Nivel de Ensino_encoded,Nivel_encoded,Genero_Feminino,Genero_Masculino,Cor/raca/etnia_Amarela,Cor/raca/etnia_Branca,Cor/raca/etnia_Indígena,Cor/raca/etnia_Outra,...,Nivel_1,Nivel_2,Forma de Trabalho_Modelo 100% presencial,Forma de Trabalho_Modelo 100% remoto,Forma de Trabalho_Modelo híbrido com dias fixos de trabalho presencial,Forma de Trabalho_Modelo híbrido flexível (o funcionário tem liberdade para escolher quando estar no escritório presencialmente),Atuação_Análise de Dados,Atuação_Ciência de Dados,Atuação_Engenharia de Dados,Atuação_Outra atuação
0,31,0.0,5,2,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,30,0.0,2,1,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,37,0.0,2,0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,34,0.0,5,0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
5,30,0.0,1,1,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5285,27,0.0,2,1,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5286,37,0.0,3,2,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5287,28,0.0,2,0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5289,32,0.0,2,1,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5290,25,0.0,2,2,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [209]:
df_final_transformado.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3747 entries, 0 to 5290
Data columns (total 93 columns):
 #   Column                                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                                            --------------  -----
 0   Idade                                                                                                                             3747 non-null   int64
 1   progressao_prejudicada                                                                                                            3747 non-null   float64
 2   Nivel de Ensino_encoded                                                                                                           3747 non-null   int64
 3   Nivel_encoded                                                                                                                     3747 non-null   int64
 4   Genero_Feminino                                                                                                                   3747 non-null   float64
 5   Genero_Masculino                                                                                                                  3747 non-null   float64
 6   Cor/raca/etnia_Amarela                                                                                                            3747 non-null   float64
 7   Cor/raca/etnia_Branca                                                                                                             3747 non-null   float64
 8   Cor/raca/etnia_Indígena                                                                                                           3747 non-null   float64
 9   Cor/raca/etnia_Outra                                                                                                              3747 non-null   float64
 10  Cor/raca/etnia_Parda                                                                                                              3747 non-null   float64
 11  Cor/raca/etnia_Prefiro não informar                                                                                               3747 non-null   float64
 12  Cor/raca/etnia_Preta                                                                                                              3747 non-null   float64
 13  PCD_Não                                                                                                                           3747 non-null   float64
 14  PCD_Sim                                                                                                                           3747 non-null   float64
 15  Regiao onde mora_Centro-oeste                                                                                                     3747 non-null   float64
 16  Regiao onde mora_Nordeste                                                                                                         3747 non-null   float64
 17  Regiao onde mora_Norte                                                                                                            3747 non-null   float64
 18  Regiao onde mora_Sudeste                                                                                                          3747 non-null   float64
 19  Regiao onde mora_Sul                                                                                                              3747 non-null   float64
 20  Nivel de Ensino_0                                                                                                                 3747 non-null   float64
 21  Nivel de Ensino_1                                                                                                                 3747 non-null   float64
 22  Nivel de Ensino_2                                                                                                                 3747 non-null   float64
 23  Nivel de Ensino_3                                                                                                                 3747 non-null   float64
 24  Nivel de Ensino_4                                                                                                                 3747 non-null   float64
 25  Nivel de Ensino_5                                                                                                                 3747 non-null   float64
 26  Nivel de Ensino_6                                                                                                                 3747 non-null   float64
 27  Area de Formação_Ciências Biológicas/ Farmácia/ Medicina/ Área da Saúde                                                           3747 non-null   float64
 28  Area de Formação_Ciências Sociais                                                                                                 3747 non-null   float64
 29  Area de Formação_Computação / Engenharia de Software / Sistemas de Informação/ TI                                                 3747 non-null   float64
 30  Area de Formação_Economia/ Administração / Contabilidade / Finanças/ Negócios                                                     3747 non-null   float64
 31  Area de Formação_Estatística/ Matemática / Matemática Computacional/ Ciências Atuariais                                           3747 non-null   float64
 32  Area de Formação_Marketing / Publicidade / Comunicação / Jornalismo                                                               3747 non-null   float64
 33  Area de Formação_Outra opção                                                                                                      3747 non-null   float64
 34  Area de Formação_Outras Engenharias                                                                                               3747 non-null   float64
 35  Area de Formação_Química / Física                                                                                                 3747 non-null   float64
 36  Situação atual de Trabalho_Empreendedor ou Empregado (CNPJ)                                                                       3747 non-null   float64
 37  Situação atual de Trabalho_Empregado (CLT)                                                                                        3747 non-null   float64
 38  Situação atual de Trabalho_Estagiário                                                                                             3747 non-null   float64
 39  Situação atual de Trabalho_Freelancer                                                                                             3747 non-null   float64
 40  Situação atual de Trabalho_Prefiro não informar                                                                                   3747 non-null   float64
 41  Situação atual de Trabalho_Servidor Público                                                                                       3747 non-null   float64
 42  Situação atual de Trabalho_Vivo fora do Brasil e trabalho para empresa de fora do Brasil                                          3747 non-null   float64
 43  Situação atual de Trabalho_Vivo no Brasil e trabalho remoto para empresa de fora do Brasil                                        3747 non-null   float64
 44  Setor_Agronegócios                                                                                                                3747 non-null   float64
 45  Setor_Educação                                                                                                                    3747 non-null   float64
 46  Setor_Entretenimento ou Esportes                                                                                                  3747 non-null   float64
 47  Setor_Filantropia/ONG's                                                                                                           3747 non-null   float64
 48  Setor_Finanças ou Bancos                                                                                                          3747 non-null   float64
 49  Setor_Indústria                                                                                                                   3747 non-null   float64
 50  Setor_Internet/Ecommerce                                                                                                          3747 non-null   float64
 51  Setor_Marketing                                                                                                                   3747 non-null   float64
 52  Setor_Outra Opção                                                                                                                 3747 non-null   float64
 53  Setor_Seguros ou Previdência                                                                                                      3747 non-null   float64
 54  Setor_Setor Alimentício                                                                                                           3747 non-null   float64
 55  Setor_Setor Automotivo                                                                                                            3747 non-null   float64
 56  Setor_Setor Farmaceutico                                                                                                          3747 non-null   float64
 57  Setor_Setor Imobiliário/ Construção Civil                                                                                         3747 non-null   float64
 58  Setor_Setor Público                                                                                                               3747 non-null   float64
 59  Setor_Setor de Energia                                                                                                            3747 non-null   float64
 60  Setor_Tecnologia/Fábrica de Software                                                                                              3747 non-null   float64
 61  Setor_Telecomunicação                                                                                                             3747 non-null   float64
 62  Setor_Varejo                                                                                                                      3747 non-null   float64
 63  Setor_Área da Saúde                                                                                                               3747 non-null   float64
 64  Setor_Área de Consultoria                                                                                                         3747 non-null   float64
 65  Cargo_Analista de BI/BI Analyst                                                                                                   3747 non-null   float64
 66  Cargo_Analista de Dados/Data Analyst                                                                                              3747 non-null   float64
 67  Cargo_Analista de Inteligência de Mercado/Market Intelligence                                                                     3747 non-null   float64
 68  Cargo_Analista de Negócios/Business Analyst                                                                                       3747 non-null   float64
 69  Cargo_Analista de Suporte/Analista Técnico                                                                                        3747 non-null   float64
 70  Cargo_Analytics Engineer                                                                                                          3747 non-null   float64
 71  Cargo_Cientista de Dados/Data Scientist                                                                                           3747 non-null   float64
 72  Cargo_DBA/Administrador de Banco de Dados                                                                                         3747 non-null   float64
 73  Cargo_Data Product Manager/ Product Manager (PM/APM/DPM/GPM/PO)                                                                   3747 non-null   float64
 74  Cargo_Desenvolvedor/ Engenheiro de Software/ Analista de Sistemas                                                                 3747 non-null   float64
 75  Cargo_Economista                                                                                                                  3747 non-null   float64
 76  Cargo_Engenheiro de Dados/Arquiteto de Dados/Data Engineer/Data Architect                                                         3747 non-null   float64
 77  Cargo_Engenheiro de Machine Learning/ML Engineer/AI Engineer                                                                      3747 non-null   float64
 78  Cargo_Estatístico                                                                                                                 3747 non-null   float64
 79  Cargo_Outra Opção                                                                                                                 3747 non-null   float64
 80  Cargo_Outras Engenharias (não inclui dev)                                                                                         3747 non-null   float64
 81  Cargo_Professor/Pesquisador                                                                                                       3747 non-null   float64
 82  Nivel_0                                                                                                                           3747 non-null   float64
 83  Nivel_1                                                                                                                           3747 non-null   float64
 84  Nivel_2                                                                                                                           3747 non-null   float64
 85  Forma de Trabalho_Modelo 100% presencial                                                                                          3747 non-null   float64
 86  Forma de Trabalho_Modelo 100% remoto                                                                                              3747 non-null   float64
 87  Forma de Trabalho_Modelo híbrido com dias fixos de trabalho presencial                                                            3747 non-null   float64
 88  Forma de Trabalho_Modelo híbrido flexível (o funcionário tem liberdade para escolher quando estar no escritório presencialmente)  3747 non-null   float64
 89  Atuação_Análise de Dados                                                                                                          3747 non-null   float64
 90  Atuação_Ciência de Dados                                                                                                          3747 non-null   float64
 91  Atuação_Engenharia de Dados                                                                                                       3747 non-null   float64
 92  Atuação_Outra atuação                                                                                                             3747 non-null   float64
dtypes: float64(90), int64(3)
memory usage: 2.7 MB

### Verificação dos valores de cada atributo

In [208]:
df_final_transformado.to_csv('/content/drive/MyDrive/PCD1/assets/data/bases_modificadas/State_of_Data_dados_tratados.csv', index=False)